build/
tmp/
sstate-cache/
downloads/
deploy/

*.log
*.bak
*.swp
*.rej

*.inc
*.tar.gz

*.tar.bz2
*.tar.xz
*.tar.lzma
*.zip

conf/local.conf.sample

bitbake*.log
log.*
buildstats/
buildhistory/

*.pyc
*.pyo
/*.patch
*.swp
*.orig
*.rej
*~
*.example
 
*.vscode*
*/documentation/

 
*.swp
*.bak
*.tmp
*.orig

*.oeinfo
*.env

.git
