build/
tmp/
sstate-cache/
downloads/
deploy/

*.log
*.bak
*.swp
*.rej

*.inc
*.tar.gz

meta-*/*/files/
meta-*/*/recipes-*/*
meta-*/*/tests/

*.tar.bz2
*.tar.xz
*.tar.lzma
*.zip

local.conf
bblayers.conf
conf/local.conf.sample

bitbake*.log
log.*
buildstats/
buildhistory/

*/.device/
*/.images/
 
*.swp
*.bak
*.tmp
*.orig

*.workspace
.idea/

*.oeinfo
*.env

